@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
.btn {
  color: #61d4e5;
  border: solid #61d4e5 4px;
  padding: 2% 3%;
  display: inline;
  border-radius: 5px 5px 5px 5px; }

.btn:hover {
  cursor: pointer; }

.header h2 {
  color: black; }

.header hr {
  border: none;
  background-color: #61d4e5;
  height: 2px;
  width: 170px;
  margin-left: 0; }

#skills .icons, #pics .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

#skills .port, #pics .dolor {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 50%; }
