/*===== body =====*/
body {
  margin:0;
}

h1, h2, h3, ul, ol {
  margin: 0;
}
/*===== header =====*/
header {
  background-color: rgb(249, 143, 24);
  padding: 20px;
}

nav::after, article::after, section::after{
  content:"";
  display: block;
  clear: both;
}

nav {
  background-color: rgb(193, 18, 55);
}

nav img {
  width: auto;
  height: 45px;
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
}

/*===== article =====*/

article {
  width: 60%;
  float: left;
  background-color: rgb(30, 142, 38);
}

article div:nth-of-type(1) {
  width: 60%;
  float: left;
}

article div:nth-of-type(2) {
  width: 40%;
  float: left;
}

article img {
  width: 100%;
}

aside {
  width: 40%;
  float: left;
  background-color: rgb(166, 88, 39);
}

/*===== section =====*/

section:nth-of-type(1) {
  background-color: rgb(26, 126, 120);
}

section:nth-of-type(2) div {
  width: calc(100% / 4);
  display: inline-block;
  float; left;
}

section:nth-of-type(2) {
  background-color: rgb(61, 148, 21);
}

section:nth-of-type(2) img {
  width: 100%;
}
