@import 'http://fonts.googleapis.com/css?family=roboto:300,400,500,600,700';
body {
  font-family: 'roboto', sans-serif;
}
section#models {
  background-image: url(../img/bg-image-1.jpg);
  background-size: cover;
  background-position: center;
  padding: 15vw 5vw 15vw 50%;
}
h2 {
  text-transform: capitalize;
}
h2 + hr {
  width: 10vw;
  border: 3px solid hsl(198, 100%, 58%);
}
hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: hsl(0, 0%, 90%);
}
section#models ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
section#models p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
progress {
  width: 100%;
  height: 10px;
  border: none;
}
section#models a {
  color: hsl(198, 100%, 58%);
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
section#models a:hover {
  color: black;
}
section#models i {
  margin-left: 10px;
  transition: all 250ms ease-in-out;
  font-size: 2vw;
}
section#models a:hover i {
  margin-left: 15px;
}
