// body
$key-color: blue;
$secondary-color: green;
$tertiary-color: grey;

// button styles
$btn-color: rgb(169, 196, 90);
$btn-lite: invert( $btn-color );
$btn-dark: darken( $btn-color );

// headline styles
$color-one: red;
$color-two: orange;
$color-three: yellow;
$color-four: green;
$color-five: blue;
$color-six: violet;
