/*section div.div1 {
  background-color: rgb(99, 61, 23);
  flex: ;
}
section div.div2{
  background-color: rgb(38, 89, 72);
  flex: 2;
}
section div.div3 {
  background-color: rgb(163, 191, 20);
  flex: 1;
}
section div.div4 {
  background-color: rgb(29, 110, 41);
  flex: 1;
}
section div.div5 {
  background-color: rgb(18, 49, 77);
  flex: 1;
}
section div.div6 {
  background-color: rgb(43, 99, 149);
  flex: 1;
}
section div.div7 {
  background-color: rgb(64, 217, 46);
  flex: 1;
}
section div.div8 {
  background-color: rgb(210, 26, 159);
  flex: 1;
}
section div.div9 {
  background-color: rgb(8, 215, 184);
  flex: 2;
}*/










section {
  padding: 0 10%;
}
.fe {
  display: flex:
  flex-wrap: wrap;
}
.fe div {
  width: 50%;
}
.fe img{
  float: left;
  border-radius: 100%;
}











/*padding-left: 10%;
padding-right:10%;*/















/*section {
  display: flex;
  flex-direction:  column;
  height: 500px;
  align-items: stretch;
}
section > div {
  flex: 1;
}
section > div:nth-child(2) {
  display: flex;
}
section > div:nth-child(2) div{
  flex: 1;
}
section div.div1 {
  background-color: rgb(204, 73, 16);
}
section div.div2 {
  background-color: rgb(87, 66, 56);
  /*flex: 4;*/
}
/*section div.div3 {*/
  background-color: rgb(193, 48, 174);
/*}*/
/*section div.div4 {*/
  background-color: rgb(99, 176, 25);
/*}*/
