/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: 'BrushScript';
  src: url('http://matthewhigley.com/fonts/BrushScriptStd.eot');
  src: url('http://matthewhigley.com/fonts/BrushScriptStd.eot?#iefix') format('embedded-opentype'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.woff') format('woff'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.ttf')  format('truetype'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.svg#eb21f6604ba28d5573abad1c01255830') format('svg');
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Fraktur';
  src: url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.eot');
  src: url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.eot?#iefix') format('embedded-opentype'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.woff') format('woff'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.ttf')  format('truetype'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.svg#f78369fb7f540f355d128fc492e4218d') format('svg');
  font-style:   normal;
  font-weight:  400;
}

/*All*/
.gf{
  font-family: 'BrushScript';
  text-shadow:
  -1px -1px 0 hsl(0, 37%, 46%),
  1px -1px 0 hsl(0, 37%, 46%),
  -1px 1px 0 hsl(0, 37%, 46%),
  1px 1px 0 hsl(0, 37%, 46%);
  color: hsl(48, 93%, 43%);
}
.rf{
  font-family: 'BrushScript';
  text-shadow:
  -1px -1px 0 hsl(0, 37%, 46%),
  1px -1px 0 hsl(0, 37%, 46%),
  -1px 1px 0 hsl(0, 37%, 46%),
  1px 1px 0 hsl(0, 37%, 46%);
  color: white;
}
p {
  color: hsl(60, 3%, 12%);
  font-family: 'Roboto', sans-serif;
  font-size: 1.9vh;
  padding-top: 17px;
}
hr {
  border:none;
  height: 2px;
  background-color: hsl(60, 100%, 97%);
}

section {
  display: flex;
  padding: 0 2vw;
  background: hsl(60, 100%, 97%);
  border: 5px solid;
  border-color: hsl(60, 3%, 12%);
  border-top: none;
}
body {
  margin: 0;
  padding: 5vh 20vw;
  background-color:
  hsl(0, 61%, 32%);
}

/*Nav*/

nav {
  border: 5px solid;
  border-color: hsl(60, 3%, 12%);
  border-bottom: none;
}
nav ul {
  display: flex;
  justify-content: space-around;
  border: dotted 3px;
  border-left: none;
  border-right: none;
  border-color: hsla(340, 2%, 28%, 0.49);
  margin-bottom: 0;
  font-size: 20px;
}
nav ul li {
  list-style: none;
}
nav a {
  text-decoration: none;
  font-family: 'BrushScript';
  color: white;
  text-shadow:
  -1px -1px 0 hsl(0, 37%, 46%),
  1px -1px 0 hsl(0, 37%, 46%),
  -1px 1px 0 hsl(0, 37%, 46%),
  1px 1px 0 hsl(0, 37%, 46%);
}
nav {
  padding-bottom: 50px;
  background-color: hsl(60, 100%, 97%)
}

/*Header*/

header {
  display: flex;
  flex-direction: column;
  background-color: #FFFFF0;
  border: solid 5px;
  border-color: hsl(60, 3%, 12%);
  height: 146px;
}

header h1 {
  font-family: 'fraktur',sans-serif;
  font-size: 3vw;
  text-align: center;
  padding: 0 0 0 19px;
  margin: 0;
  color: hsl(48, 93%, 43%);
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;

}
header div {
  display: flex;
  justify-content: space-between;
}

a.top {
  display: flex;
  align-content: flex-start;
  font-family: 'BrushScript';
  font-size: 4vh;
  line-height: 2;
  color: white;
  text-decoration: none;
}


/*index*/

#index div.info {
  flex: 2.5;
  padding-right: 80px;
}
#index img {
  float: right;
}
#index div.info article:nth-of-type(1) {
  margin-bottom: 140px;
}
#index div.info b {
  font-family: 'BrushScript';
  font-size: 4.2vh;
  line-height: 2;
  color: hsl(0, 37%, 46%);
}
#index div.info p {
  line-height: 1;
}
#index div.box {
  display: flex;
  flex-direction: column;
  flex: 1.5;
}
#index div.box div.one, .two, .three, .four {
  height: 25vh;
  border: solid 2px;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}
#index .box .one.gf .toy {
  line-height: 3;
}
#index div.one h1, .two h1, .three h1, .four h1 {

  font-family: 'BrushScript';
  position: absolute;
  bottom: 125px;
  left: 10px;
  padding: 0 5px;
  background-color:
   hsl(60, 100%, 97%);
}
#index div.one, .three p, .four p  {
  /*padding: 10px 40px;*/
  line-height: 1;
}
#index div.two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
}
#index a {
  color: hsl(0, 59%, 50%);
}

/*History*/

#history div.bigword {
  flex-direction:  column;
  padding-bottom: 50px;
}
#history div.word {
  flex: 3;
  padding-right: 30px;
}
#history h1 {
  font-family: 'BrushScript';
  font-size: 4vh;
  line-height: 2;
  color: hsl(0, 37%, 46%);
  padding: 0;
  margin: 0;
}
#history div.word img:nth-of-type(1) {
  float: right;
}
#history div.word img.salad {
  float: left;
}
#history div.pic {
  flex: 1;
}
#history div.pic img {
  margin-bottom: 10vh;
}

/*Menu*/

#menu {
  padding-top: 0;
  margin: 0;
  text-align: center;
  flex-direction: column;
  padding-bottom: 50px;
}
#menu div.big, div.small div, div.smoll div {
  border: solid 2px;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  border-color: hsl(0, 37%, 46%);
}
#menu article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu div.small, div.smoll{
  display: flex;
}
#menu div.small div, div.smoll div {
  position: relative;
  flex: 1;
  margin-right: 15px;
}
#menu h1 {
  font-size: 4.2vh;
  font-family: 'BrushScript';
  color: white;
}
#menu div.big h1.berrocks {
  position: absolute;
  bottom: 163px;
  left: 10px;
  background-color:  hsl(60, 100%, 97%);
}
#menu div.big h1.burger {
  position: absolute;
  bottom: 8px;
  left: 10px;
  background-color:  hsl(60, 100%, 97%);
}
#menu div.small h1 {
  position: absolute;
  left: 10px;
  bottom: 50px;
  background-color:  hsl(60, 100%, 97%);
}
#menu div.smoll h1 {
  position: absolute;
  left: 10px;
  bottom: 95px;
  background-color:  hsl(60, 100%, 97%);
}

/*news*/

#news {
  flex-direction: column;
  text-align: center;
  padding: 0 5vw 5vw 30px;
}
#news div.gradient h1 {
  font-family: 'BrushScript';
  font-size: 4.2vh;
  line-height: 2;
color:  hsl(60, 100%, 97%);
  margin: 0;
  padding: 0;
  padding-right: 10px;
  text-shadow: 1px 1px 1px #000,
              3px 3px 5px hsl(0, 37%, 46%);
}
#news div.gradient , #contact div.gradient{
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient(
    to right,
    hsl(60, 100%, 97%),
    hsla(0, 37%, 46%, 0.34)
    );
}
#news div.center {
  padding: 30px;
  border: dotted 3px;
  border-left: none;
  border-right: none;
  border-color: hsla(340, 2%, 28%, 0.27);
}
#news hr {
  border: none;
  height: 2px;
  background-color: black;
}

/*contacts*/

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'BrushScript',sans-serif;
}
#contact div.gradient {
  border: dotted 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: hsla(340, 2%, 28%, 0.27);
}
#contact input, textarea {
  display: flex;
   font-style: inherit;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 5px;
}
#contact button {
  color: hsl(0, 37%, 46%);
  background-color: hsl(60, 100%, 97%);
  border: solid 1px;
  border-color: hsl(0, 37%, 46%);
  margin-right: 465px;
}
#contact div.p {
  text-align: left;
}
#contact div.form {
  text-align: center;
  margin-left: 225px;
  padding-bottom: 30px;
}
#contact div.info {
  padding: 50px;
}
#contact a{
  font-family: sans-serif;
  display: flex;
  width: 23%;
  font-size: 10px;
  text-decoration: none;
  color: inherit;
  border: 1px solid black;
  padding-left: 3%;
}
